
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "PlayfairDisplay", sans-serif;
}

.wrapper {
    width: 900px;
    margin: auto;
    background-color: #eee;
}

.list {
    list-style: none;
    margin-left: 150px;
}

.list-item {
    display: inline-block;
    width: 150px;
}

.list-link {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 15px;
    text-align: center;
    font-family: sans-serif;
    color: #444444
}

.list-link:hover {
    color: blue
}

main {
    font-size: o;
}

.card {
    font-size: 16px;
    display: inline-block;
    width: calc;
}