* {
    margin: 0;
	padding: 0;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: #ffffff;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}

/* img {
    display: block;
    max-width: 100%;
    height: auto;
} */

.wrpapper {
    display: inline-block;
    width: 900px;
    margin: 0, auto;
    background-color: #eee;
    font-size: 0;
}

.site-header{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 100px;
}

.site-navigation {
    font-size: 14px;
    list-style: none;
    margin-left: 160px;
}

.site-navigation li {
    display: inline-block;
    margin-right: 120px;
}

.site-navigation li:last-child {
    margin-right: 0;
}

.site-navigation a {
    text-decoration: none;
    color: #626262;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 24px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: blue;
}

.main-menu {
    width: 900px;
}

.card {
    display: inline-block;
    width: 420px;
    margin-bottom: 135px;
}

.card-subtitle {
    font-family: 'Ubuntu', sans-serif;
    line-height: 17px;
    color: #b4ad9e;
    font-weight: 400;
    text-transform: uppercase;
}

.card-title {
    line-height: 36px;
    color: #626262;
    font-weight: 400;
}

.card-description text-1, text-2, text-3, text-4, text-5, text-6 {
    display: inline-block;
    text-align: justify;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
    width: 420px;
}
footer{
    text-align: center;
    background-color: grey; 
}

.button {
    padding: 10px 20px 10px 10px;
    cursor: pointer;
}

.a {
    padding: 10px 20px;
    background-color: grey;
    color: aqua;
}

