* {
    margin: 0;
	padding: 0;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: #ffffff;
    color: #626262;
    font-size: 14px;
    line-height: 24px;   
    text-align: left;
}

/* img {
    display: block;
    max-width: 100%;
    height: auto;
} */

.wrapper {
    display: inline-block;
    width: 900px;
    margin: auto;
    background-color: #eee;
    font-size: 0;
    vertical-align: top;
}

.site-header{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 100px;
}

.menu-nav {
    font-size: 14px;
    list-style: none;
    margin-left: 160px;
}

.menu-nav li {
    display: inline-block;
    margin-right: 120px;
}

.menu-nav li:last-child {
    margin-right: 0;
}

.menu-nav a {
    text-decoration: none;
    color: #626262;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 24px;
}

.menu-nav a:hover,
.menu-nav a:focus {
    color: blue;
}

.main-menu {
    font-size: 0;
}

.card {
    display: inline-block;
    width: 420px;
    margin-bottom: 135px;
    font-size: 14px;
    vertical-align: top;
}

.card-mr {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    font-size: 14px;
    vertical-align: top;
    margin-bottom: 135px;
   
}

.card-image-wrp {
    text-align: justify;
    margin: auto;
    vertical-align: top;
}
.card-image {
    width: 420px;
}

.card-subtitle {
    font-family: 'Ubuntu', sans-serif;
    line-height: 17px;
    color: #b4ad9e;
    font-weight: 400;
    text-transform: uppercase;
}

.card-title {
    line-height: 36px;
    color: #626262;
    font-weight: 400;
}

.card-description text-1, text-2, text-3, text-4, text-5, text-6 {
    display: inline-block;
    text-align: justify;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
    width: 420px;
}

.top-footer{
    text-align: center;
    line-height: 100px;
}

.top-button {
    padding: 10px 10px;
    cursor: pointer;
    font-size: 24px;
    line-height: 1.5;
    background-color: #fff;
    color: grey;
}


